@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-container{
  @apply max-w-[1216px] mx-auto px-5 xl:px-0
}

.nav-link{
  @apply px-3 py-2 rounded-[6px] text-base font-medium hover:bg-[#7F56D9] hover:text-white transform duration-200 ease-out
}
.is-active{
  @apply bg-[#7F56D9] text-white
}
@media(min-width:1024px){
 .full-width{
  width: 100% !important;
  height: auto;
 }
}
@media(max-width:1023px){
  .nav-item-container{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    overflow-x: hidden;
    transition: 0.3s;
    white-space: nowrap;
    left: 0;
  }
}

@media(max-width:767px){
  .md-nav-item-container{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    overflow-x: hidden;
    transition: 0.3s;
    white-space: nowrap;
  }
}
.table-header{
  @apply text-xs leading-[18px] font-medium text-[#667085] text-start
}

.user-table::-webkit-scrollbar {
  height: 7px !important;
  border-radius: 5px;
}
 
.user-table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  border-radius: 5px;
}
 
.user-table::-webkit-scrollbar-thumb {
  background-color: #7F56D9 !important;
  border-radius: 5px;
}