@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-link{
  @apply p-3 rounded-[6px] text-base font-medium transform duration-200 ease-out
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.language-item:last-child div span{
  border-bottom: none !important;
}

@media(min-width:1024px){
 .full-width{
  width: 100% !important;
  height: auto;
 }
}
@media(max-width:1023px){
  .nav-item-container{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    overflow-x: hidden;
    transition: 0.3s;
    white-space: nowrap;
  }
  .left-nav{
    left: 0;
  }
  .right-nav{
    right: 0;
  }
}

@media(min-width:768px){
 .md-full-width{
  width: 80% !important;
  height: auto;
 }

}
@media(max-width:767px){
  .md-nav-item-container{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    overflow-x: hidden;
    transition: 0.3s;
    white-space: nowrap;
  }
}